<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{student.firstName + " " + student.lastName}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scroll-y="false">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Ansprechpersonen</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let contactPerson of this.contactPersons">
        <ion-label>{{contactPerson.firstName + " " + contactPerson.lastName + " " + contactPerson.phone}}</ion-label>
      </ion-list>
    </ion-card-content>
  </ion-card>

</ion-content>
