<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="end">
      <ion-button (click)="dismissModal()">Close</ion-button>
    </ion-buttons>
    <ion-title>
      Selection
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
        <ion-list>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
          <ion-item>
            <ion-label>Max Mustermann</ion-label>
            <ion-checkbox slot="end"></ion-checkbox>
          </ion-item>
        </ion-list>
  </ion-card>
</ion-content>
<ion-button id="save">Speichern</ion-button>
