<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Rating
    </ion-title>
  </ion-toolbar>


</ion-header>

<ion-content scroll-y="false">
      <ion-list>
        <ion-item>
          <ion-label>Max Mustermann</ion-label>
          <ion-note slot="end" color="dark">7.8</ion-note>
        </ion-item>
        <ion-item>
          <ion-label>Maxim Musterfrau</ion-label>
          <ion-note slot="end" color="dark">nicht bewertet</ion-note>
        </ion-item>
      </ion-list>

  <ion-button (click)="showModal()"> TEST</ion-button>
</ion-content>


