<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon name="information-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Rating
    </ion-title>
  </ion-toolbar>


</ion-header>

<ion-content scroll-y="false">
      <ion-list *ngFor="let groupParticipation of this.dataService.groupParticipations">
        <ion-item (click)="showModal(groupParticipation.student)">
          <ion-label>{{groupParticipation.student.firstName + " " + groupParticipation.student.lastName}}</ion-label>
          <ion-note slot="end" color="dark">{{groupParticipation.drivingCan}}</ion-note>
        </ion-item>
      </ion-list>
</ion-content>


