<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="showModal()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Group
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card (click)="test()">
    <ion-card-content>
      <ion-list lines="">
        <ion-item>
          <ion-label>Max Mustermann</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Maxim Musterfrau</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-router-outlet></ion-router-outlet>
